* {
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
  color: white;
}

/* i want the photo to be included in the slideshow, which goes in the .main but I also want it to encompass the entire page
if i put it in the html, could i set the slideshow in there?
if i put it in the main should I set it to the entire page?
*/
html {
  background: url(https://w0.peakpx.com/wallpaper/359/361/HD-wallpaper-dark-water-black-waves-night-mono.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
body {
  margin: 0;
  font-family: "Abel", sans-serif;
}

header {
  display: inline-flex;
  background-color: transparent;
  padding: 5%;
  color: grey;
  width: 100vw;
  text-align: right;
  height: 15px;
}
#name {
  text-align: left;
  font-size: 30px;
}
ul {
  list-style-type: none;
  width: 100%;
}
li {
  display: inline-block;
  margin-right: 5%;
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  padding: 5%;
}
.main1 {
  background-size: cover;
  text-align: center;
}
.main2 {
  text-align: center;
}
.main3 {
  text-align: center;
}
.main4 {
  text-align: center;
}
img {
  border-radius: 8px;
  /*to center the image (include width:50%) I'm just not using it here because I want my image to automatically adjust to fit the size of the screen*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*to scale down image but never to be larger than original size use the following*/
  max-width: 100%;
  height: auto;
}
a {
  /*removes the underline to my links*/
  text-decoration: none;
}
a:hover {
  color: darkolivegreen;
  font-size: large;
}
/*the following 3 are to hide <div> until I click on the link to call it*/
.grid-container > div,
.hiddenContent > [name="content4"] {
  display: none;
}

.grid-container > div:target {
  display: block;
}

/*.inter {
  margin-bottom: 100vh;
}
*/

.bottomnav {
  text-align: center;
  margin-bottom: 15%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

form {
  text-align: center;
}
label {
  font-size: 30px;
}

button {
  margin-bottom: 50px;
  margin-top: 20px;
  background-color: darkolivegreen;
  font-size: 30px;
}
button:hover {
  background-color: black;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

textarea {
  color: darkolivegreen;
  font-size: 20px;
}
.box {
  width: 330px;
  margin-bottom: 20px;
  font-size: 20px;
  color: darkolivegreen;
}
